/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.modal-transition-enter {
  opacity: 0;
  transform: scale(0.9);
}
.modal-transition-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.modal-transition-exit {
  opacity: 1;
}
.modal-transition-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out forwards;
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out forwards;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroller::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none!important;
    scrollbar-width: none!important;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .scroller {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  

#ton-connect-button button{
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    height: 50px;
    background: #0e89d5;
  
  }
  
  #ton-connect-button svg{
    height: 28px;
    width: 28px;
    color: #fff;
    fill: #fff;
  }
  #ton-connect-button svg path{
    fill: #000;
  }
  #ton-connect-button div{
    font-size: 16px;
    color: #fff;
  }
/* Add this to your index.css or App.css */
body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

* {
  box-sizing: border-box;
}
